
@{
    ViewBag.Title = "LoggedIn";
}
<div class="row">
    <div class="col-md-2">
        <a href="/home/viewhistory" class="btn btn-primary">View History</a>
        </div>
    <div class="col-md-2 col-md-offset-3">
        <a href="/home/apply" class="btn btn-primary">Apply for Donation</a>
        </div>
    <div class="col-md-2 col-md-offset-3">
        <a href="/home/logout" class="btn btn-warning"><small>Log Out</small></a>
    </div>
</div>

