
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/home/register">
            <h2>Register</h2>
            <input type="text" name="firstName" class="form-control" placeholder="First Name" id="first-name"/>
            <br />
            <input type="text" name="lastName" class="form-control" placeholder="Last Name" id="last-name"/>
            <br />
            <input type="text" name="email" class="form-control" placeholder="Email" id="email"/>
            <br />
            <input type="password" name="password" class="form-control" placeholder="Password" id="password1" />
            <br />
            <input type="password" class="form-control" placeholder="Re-enter Password" id="password2"/>
            <br />
            <button class="btn btn-primary" id="register" disabled>Register</button>
        </form>
    </div>
</div>

@section scripts
{
    <script src="/Scripts/Register.js"></script>
}